{% assign addpath = "2021/" %}
{% assign is_presenter_page=false %}
{% if page.permalink %}
  {% if page.permalink contains "/speakers/" %}
    {% assign is_presenter_page=true %}
  {% endif %}
{% endif %}
{% capture social_title %}{{ site.event_short_title }} {{ site.current_event.dates }}{% endcapture %}
{% capture social_description %}{{ speaker.bio }}{% endcapture %}
{% capture social_image %}{{ site.produrl }}/assets/{{ addpath }}images/speakers/socials/everyone.jpg{% endcapture %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ site.twitter_username }}">
<meta name="twitter:creator" content="@{{ site.twitter_username }}">
{% assign is_bannerable_page=false %}
{% if is_presenter_page == true %}
  {% assign speaker = site.data.s-2021-speakers.items | where_exp:"item", "item.id == page.id" | first %}
  {% if speaker %}
    {% assign is_bannerable_page=true %}
    {% capture social_title %}{{ speaker.name }} at {{ site.event_short_title }} {{ site.current_event.dates }}{% endcapture %}
    {% capture social_description %}{{ speaker.bio }}{% endcapture %}
    {% capture social_image %}{{ site.produrl }}/assets/{{ addpath }}images/speakers/socials/{{ speaker.id }}.jpg{% endcapture %}
  {% endif %}
{% endif %}
<meta name="twitter:title" content="{{ social_title }}">
<meta name="twitter:description" content="{{ social_description }}">
<meta name="twitter:image" content="{{ social_image }}">
<!-- og:description and title are handled by seo.html include and page.title page.description -->
<meta property="og:image" content="{{ social_image }}">
