{% assign addpath = include.addpath %}
{% assign person = include.person %}
{% assign content = include.extracontent %}
{% assign socialcard = person.id %}
{% assign content = content | markdownify | strip %}
{% if include.socialcard %}{% assign socialcard = include.socialcard %}{% endif %}
{% assign headfakesocialcard = true %}
<div style="min-width:200px;width:25%;margin:2em;float:left;text-align:center;align-self:flex-start;">
  <img id="speaker-thumb" src="/assets/{{ addpath }}images/speakers/socials/{{ socialcard }}.jpg"
        style="width:100%;border-radius:1em;{%- if headfakesocialcard == true -%}visibility:hidden;{%- endif -%}"
        title="{{ person.name }}: {{ person.title }}" />
    <div class="flexbox" style="margin:0.5em;">
{% if person.handles %}
    {% assign social = person.handles %}
{% if social.twitter %}<svg class="svg-icon grey" title="{{ person.name }} on Twitter" onclick="window.open('https://twitter.com/{{ social.twitter }}')" style="cursor:pointer;"><use xlink:href="{{ '/assets/images/minima-social-icons.svg#twitter' | relative_url }}"></use></svg>{% endif %}
{% if social.linkedin %}<svg class="svg-icon grey" title="{{ person.name }} on LinkedIn" onclick="window.open('https://www.linkedin.com/in/{{ social.linkedin }}')" style="cursor:pointer;"><use xlink:href="{{ '/assets/images/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg>{% endif %}
{% endif %}
{% if person.website %}
<svg class="svg-icon grey" title="{{ person.name }}'s Website" onclick="window.open('{{ person.website }}')" style="cursor:pointer;"><use xlink:href="{{ '/assets/images/minima-social-icons.svg#dribbble' | relative_url }}"></use></svg>
{% endif %}
    </div>
  <p style="font-size:1.5em;">{{ person.name }}<br /><span style="text-transform: uppercase;">{{ person.role }}</span></p>
  <a href="{{ site.registration.direct_link }}" style="font-size:0.9em;">Attend this Session</a>
  {% if content.size > 0 %}
    {{ content }}
  {% endif %}
</div>
{% if headfakesocialcard == true %}
<script type="text/javascript">
  window.onloadqueue=(window.onloadqueue||[]).concat([function () {
    $('#speaker-thumb').attr('src','/assets/{{ addpath }}images/speakers/thumbs/{{ person.id }}.jpeg').css({'border-radius':'50%'})
    [0].onload=function() {
      $(this).css({'visibility':'visible'})
    }
  }]);
</script>
{% endif %}
